body {
    background: #eaeaea;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    text-align: center;
    padding: 10px;
}

.layout-container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    margin: 50px auto auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #005abf;
    transition: .4s;
}

.slider:before {
    font-family: FontAwesome;
    position: absolute;
    content: "\f185";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:checked + .slider:before {
    content: "\f186";
}

input:checked + .slider {
    background-color: #000000;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* PROFILE */

.profile-element {
    background-color: white;
    width: 20%;
    padding: .5%;
    border-radius: 5px;
    float: left;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    object-fit: cover;
    padding: 0.8%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to right, rgb(14, 111, 226), rgba(255, 0, 255, 1));

}

.profile-info {
    margin-left: 10px;
}

.profile-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-designation,
.profile-location {
    font-size: 14px;
    margin-bottom: 3px;
}

.profile-link {
    color: #007bff;
    text-decoration: none;
}

#data-output {
    width: 75%;
    float: right;

}

/* POST STYLE */

.post {
    display: inline-block;
    background-color: #ffffff;
    width: 35%;
    border-radius: 3%;
    padding: 2%;
    margin-left: 5px;
    margin-bottom: 5px;
}

.post-header {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-info {
    flex: 1;
}

.name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.date {
    font-size: 14px;
    margin: 0;
    color: #999;
}

.caption {
    margin: 10px 0;
    color: #565656;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.post-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.post-button {
    width: 33%;
    padding: 8px 12px;
    margin-left: 5px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.post-button:hover {
    background-color: #0056b3;
}

#load-more-btn {
    margin-left: 64%;
    color: #ffffff;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    display: block;
    padding: 10px;
    background: linear-gradient(to right, rgb(14, 111, 226), rgba(255, 0, 255, 1));
    border: none;
}

#load-more-btn:hover {
    cursor: pointer;
    font-size: medium;
}

/* DARK MODE */

.dark-mode {
    background-color: #000001;
}

.post-dark {
    display: inline-block;
    width: 35%;
    border-radius: 3%;
    padding: 2%;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: #2b2b2b;
    color: white;
}

.caption-dark {
    color: white;
}

.load-more-btn-dark {
    color: white;
}

.load-more-btn-dark:hover {
    cursor: pointer;
    font-size: larger;
}

.profile-element-dark {
    background-color: #2b2b2b;
    color: white;
}

/* LIGHTBOX */

#lightbox {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-content: center;
}


/* Media query for mobile devices */
@media (max-width: 767px) {
    #data-output {
        width: 67%;
    }

    .profile-element {
        width: 30%;
        float: left;
    }

    .post {
        width: 90%;
        float: right;
    }
}

/*!* Media query for desktop devices *!*/
/*@media (min-width: 768px) {*/
/*    .my-element {*/
/*        font-size: 24px;  !* Desktop font size *!*/
/*    }*/
/*}*/